{% extends 'marvel_heroes/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p><b>Marvel Entertainment</b>, LLC (formerly Marvel Enterprises) is an American entertainment company founded in June 1998
    and based in New York City, New York, formed by the merger of Marvel Entertainment Group and Toy Biz. The company
    is a wholly owned subsidiary of The Walt Disney Company since 2009, and is mainly known for its comic books by
    Marvel Comics, as well as its forays into films and television/streaming shows, including those within the
    Marvel Cinematic Universe (MCU).</p>

<p>In 2009, The Walt Disney Company acquired Marvel Entertainment for US$4 billion; it has been a limited liability
    company (LLC) since then. For financial reporting purposes, Marvel is primarily reported as part of Disney's
    Consumer Products segment ever since Marvel Studios' reorganization from Marvel Entertainment into
    Walt Disney Studios.</p>

<p>Over the years, Marvel Entertainment has entered into several partnerships and negotiations with other companies across
    a variety of businesses. As of 2019, Marvel has film licensing agreements with Sony Pictures via Columbia Pictures
    (for Spider-Man films) and Universal Pictures (a right of first refusal to pick up the distribution rights to any
    future Hulk films produced by Marvel Studios), and theme park licensing agreements with IMG Worlds of Adventure
    and Universal Destinations & Experiences (for specific Marvel character rights at Islands of Adventure and
    Universal Studios Japan). Aside from their contract with Universal Parks & Resorts, Marvel's characters and
    properties have also appeared at Disney Parks.</p>
{% endblock %}
